html{
    scroll-behavior: smooth;
    line-height: 1.75rem;
    /*margin:0;*/
    overflow-x: hidden;
    font-size: 19px;
}

body{
    color:black;
    background-image: url("https://images.unsplash.com/photo-1597571092324-ae854e0648b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

p{
  line-height: 1.5;
}

.dark-mode {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1626032038952-35c9d5b037c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

/*ul{
  margin-right: 20px;
}*/
/*img{
  object-fit: cover;
}*/


h1{
  font-size: xx-large;
}

#lightdark{
  /*aspect-ratio: 10/4;
  white-space: nowrap;
  width:auto;
  max-width: 35%;
  max-height:35%;
  object-fit: cover;*/
  background-color: transparent;
  border-color: transparent;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
}

#lightdark2{
  aspect-ratio: 9/8;
  object-fit: cover;
}

.sections{
  background-color: rgba(68, 181, 246, 0.24);
  width:100%;
  height:auto;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
p{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/*Navigation */
/*.navoptions{
  display:flex;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: #717171;
  border:1px solid black;
  width: 10%;
  margin: 0 auto;
  padding: 5px;
  white-space: nowrap;
}*/

.navoptions2{
  display:flex;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #717171;
  border:1px solid black;
  width: 10%;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  white-space: nowrap;
}

.topnav{
  position: sticky;
  background-image: url("https://user-images.githubusercontent.com/113246857/202934576-05efdfc4-b2b0-43ea-af2c-fc3eacab7fec.png");
  background-repeat: repeat-x;
  background-size: cover;
  max-height: 130px;
  padding-bottom: 10%;
  margin-bottom: 30px;
  display:flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width:100%;
  height: auto;
  text-align: center;
}

#navlogo{
  display:flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 250px;
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
}

.navlogo2{
  display:flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
  flex-shrink:2;
}

.hidelogo{
  max-width: 200px;
  width: 100%;
  height:auto;
  flex-wrap: nowrap;
  height: auto;
  float: left;
  flex-shrink: 0;
}

.topnav a{
  float:center;
  color:black;
  text-align:center;
  padding:14px 16px;
}

@media screen and (max-width: 1095px){
  #navlogo{
    display: none;
  }

  .homebutton{
    display:none;
  }
}

@media screen and (min-width: 1096px){
  .navlogo2,
  .hidelogo{
    display:none;
  }
}

@media screen and (max-width: 980px){
  .navlogo2{
    max-width:225px;
    height:auto;
  }
}

@media screen and (max-width: 790px){
  .navlogo2{
    max-width:200px;
    height:auto;
  }
}

@media screen and (max-width: 611px){
  .navlogo2{
    max-width:180px;
    height:auto;
  }
}

@media screen and (max-width: 580px){
  .navlogo2{
    max-width:160px;
    height:auto;
  }
}

@media screen and (max-width: 545px){
  .navlogo2{
    max-width:150px;
    height:auto;
    margin: none;
  }
}

@media screen and (max-width: 520px){
  .navlogo2{
    max-width:130px;
    height:auto;
    margin: none;
  }
}

@media screen and (max-width: 414px){
  .navlogo2{
    max-width:100px;
    height:auto;
    margin: none;
  }
}

@media screen and (max-width: 395px){
  .navlogo2{
    max-width:80px;
    height:auto;
    margin: none;
  }
}

@media screen and (max-width: 375px){
  .navlogo2{
    max-width:78px;
    height:auto;
    margin: none;
  }
}

@media screen and (max-width: 360px){
  .navlogo2{
    max-width:65px;
    height:auto;
    margin: none;
  }
}

/*@media screen and (max-width: 727px){
  #lightdark{
    display: none;
  }
}
*/

@media screen and (min-width: 728px){
  #lightdark2{
    display: none;
  }
}

@media screen and (max-width: 671px){
  #lightdark2{
    aspect-ratio: 8/7.4;
  }
}

@media screen and (max-width: 625px){
  #lightdark2{
    aspect-ratio: 12/11.6;
  }
}

@media screen and (max-width: 600px){
  #lightdark2{
    aspect-ratio: 11/11.4;
  }
}

@media screen and (max-width: 550px){
  #lightdark2{
    aspect-ratio: 11/12.3;
  }
}

@media screen and (max-width: 530px){
  #lightdark2{
    aspect-ratio: 11/13;
  }
}

@media screen and (max-width: 500px){
  #lightdark2{
    aspect-ratio: 11/14;
  }
}

/*What We Do Home section*/
.whatWeDoPhotos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 900px;
    column-gap: 20px;
    row-gap: 20px;
    width:100%;
    height:auto;
}

.whatWeDoIndivPhotos{
  max-width: 600px;
  max-height: 400px;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 800px){
  .whatWeDoPhotos{
    flex-wrap:wrap;
  }
}

/*Who We Serve Home section*/

.whoWeServePhotoSec{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.whoWeServePhoto{
  max-width: 1200px;
  max-height: 600px;
  height: auto;
  width: 100%;
}
/*Our Programs Home section */
.programSection1,
.programSection2{
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: auto;
  text-align: left;
}

@media screen and (min-width:1054px){
  #ourProgramsSec{
    margin:auto;
    max-width: 90%;
  }

  .programSection2{
    padding-bottom: 110px;
  }

  .reachPic{
    max-width:400px;
  }

  .reachPic2{
    display: none;
  }
}


@media screen and (min-width:1008px) and (max-width: 1053px){
  .programSection2{
    padding-bottom: 125px;
  }

  .reachPic{
    max-width:400px;
  }

  .reachPic2{
    display: none;
  }
}


@media screen and (min-width:933px) and (max-width: 1007px){
  .programSection2{
    padding-bottom: 100px;
  }

  .reachPic2{
    display: none;
  }
}

@media screen and (min-width:850px) and (max-width: 932px){
  .programSection2{
    padding-bottom: 70px;
  }

  .reachPic2{
    display: none;
  }
}

@media screen and (min-width:812px) and (max-width: 849px){
  .programSection1,
  .programSection2{
    padding-bottom: 30px;
  }

  .reachPic2{
    display: none;
  }
}

@media screen and (min-width:776px) and (max-width: 814px) {
  .programSection1,
  .programSection2{
    padding-bottom: 20px;
  }

  .reachPic2{
    display: none;
  }
}

@media screen and (min-width: 1px) and (max-width:775px) {
  .reachPic{
    display:none;
  }

  .reachPic2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:450px;
    height: auto;
    padding-bottom: 5%;
  }


  .programSection1,
  .programSection2{
    text-align: center;
    float: none;
    margin: auto;
  }
}

.reachPic{
  float:right;
  height: auto;
  width: 100%;
  max-width:375px;
  margin-right: 15px;
  margin-left: 15px;
  object-fit: contain;
}

/*Our Programs section*/

#ourPrograms{
  text-align:left;
}

.ourProgramsPhotos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 900px;
  column-gap: 20px;
  width:100%;
  height:auto;
}

.ourProgramsIndivPhotos{
max-width: 350px;
min-height: 260px;
max-height: 300px;
height: auto;
width: 100%;
object-fit: cover;
}

#greetingCardPhoto{
  max-height:260px;
}

.ourProgramsIndivPhotosWriting2{
  max-width: 350px;
  min-height: 300px;
  max-height: clamp(33.3%, auto, 300px);
  height: auto;
  width: 100%;
}

.ourProgramsPhotosNut{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 1000px;
  column-gap: 20px;
  row-gap: 20px;
  width:100%;
  height:auto;
}

.ourProgramsIndivPhotosNut{
  max-width: 350px;
  min-height: 260px;
  max-height: 300px;
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1061px){
  .ourProgramsIndivPhotosWriting2,
  #greetingCardPhoto,
  #zoomBees,
  #thirdPhoto.ourProgramsIndivPhotos{
    display: none;
  }

  .ourProgramsIndivPhotos{
    max-width: 600px;
    max-height: 400px;
    min-height: 326px;
    height: auto;
    width: 100%;
    }

  .ourProgramsIndivPhotosNut{
    max-width: 500px;
    min-height: 300px;
    max-height:300px;
    height: auto;
    width: 100%;
    }
}

@media screen and (max-width: 775px){
  .ourProgramsIndivPhotos{
    max-width: 450px;
    max-height: 400px;
    height: auto;
    width: 100%;
    padding:10px;
    object-fit: cover;
    }

    #backpackPhoto{
      display: none;
    }

    .ourProgramsPhotos{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      justify-items: center;
      max-height: 1100px;
      flex-direction: column;
      
    }

    .ourProgramsPhotosNut{
      flex-wrap: wrap;
      flex-direction: column;
    }

    .ourProgramsIndivPhotosNut{
    max-width: 450px;
    max-height: 400px;
    height: auto;
    width: 100%;
    padding:10px;
    }

    .whatWeDoIndivPhotos{
      max-width: 593px;
      max-height: 400px;
    }

    #ourPrograms{
      text-align:center;
    }
}

#ourProgramsPhotosArt{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 900px;
  max-width: 1500px;
  column-gap: 20px;
  row-gap: 20px;
  width:100%;
  height:auto;

}

.ourProgramsIndivPhotosArtPic{
  max-height: 350px;
  min-height:350px;
  max-width:520px;
  height: auto;
  width: 100%;
  object-fit: cover;
  }

.youtube {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    display:grid;
    margin-bottom: 30px;
  }

.ourProgramsIndivPhotosArtVid{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    }
  
  @media screen and (max-width: 794px){
    .ourProgramsIndivPhotosArtPic{
      display:none;
      }
    }

  @media screen and (min-width: 795px){
      .ourProgramsIndivPhotosArtVid,
      .youtube{
        display:none;
        }
    }

  @media screen and (min-width: 1185px){
    .ourProgramsIndivPhotosArtPic{
        max-height: 350px;
        min-height:350px;
        max-width:520px;
        height: auto;
        width: 100%;
      }
    }


/*How to Join Us*/
.howToJoinUsPhotos{
  display: flex;
  flex-wrap: wrap;
  max-height: 900px;
  column-gap: 20px;
  row-gap: 20px;
  width:100%;
  height:auto;
}


.howToJoinUsIndivPhotos{
max-width: 500px;
max-height: 300px;
height: auto;
width: 100%;
text-align: center;
float:left;
margin-right: 20px;
}

.joinPara{
  text-align: justify;
}


@media screen and (max-width: 757px) {
  .howToJoinUsIndivPhotos{
    max-width: 400px;
    max-height: 250px;
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    float:none;
    padding-bottom: 20px;
    }
  
}
/*Photos on Home Page*/
/*.smallPhotos{
  max-width: 100%;
  width: 400px;
  height:auto;
  height: 400px;
}*/

/*To Top Button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(87, 86, 86); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: .55;
  }
  
#myBtn:hover {
    background-color: red; /* Add a dark-grey background on hover */
  }

  /* Slideshow container */
.slideshow-container {
  max-width: 1366px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 98.2%; /*Have to put in media queries when adjusting the width*/
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 1256px) {
  .text {
    width: 98%;
  }
}

@media only screen and (max-width: 1100px) {
  .text {
    width: 97.8%;
  }
}

@media only screen and (max-width: 1025px) {
  .text {
    width: 97.6%;
  }
}

@media only screen and (max-width: 935px) {
  .text {
    width: 97.4%;
  }
}

@media only screen and (max-width: 855px) {
  .text {
    width: 97.2%;
  }
}

@media only screen and (max-width: 795px) {
  .text {
    width: 97%;
  }
}

@media only screen and (max-width: 750px) {
  .text {
    width: 96.8%;
  }
}

@media only screen and (max-width: 700px) {
  .text {
    width: 96.6%;
  }
}

@media only screen and (max-width: 660px) {
  .text {
    width: 96.3%;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    width: 96%;
  }
}

@media only screen and (max-width: 570px) {
  .text {
    width: 95.7%;
  }
}

@media only screen and (max-width: 535px) {
  .text {
    width: 95.4%;
  }
}

@media only screen and (max-width: 500px) {
  .text {
    width: 95%;
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slidepic{
  width: 100%;
  max-height: 615px;
  min-height: 350px;
  aspect-ratio: 3/2;
  object-fit:fill;
}

/* Syling for signup */

/* #formbody{
  background-color: green;
  font-family: Verdana;
  text-align: center;
}

.aptform{
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control{
  text-align: left;
  margin-bottom: 25px;
}

.form-control label{
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.formbtn {
  background-color: lightblue;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
} */


/* Styling for contact page */


/* all of form */
.contactcontainer{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* header with picture */
.headercontact {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid $grey; 
  background: url(https://images.unsplash.com/photo-1533222481259-ce20eda1e20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2hpbGRyZW4lMjBwbGF5aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1400&q=60) center 40%;
  color: white;
}

.contacth1{
  color: blue;
  text-align: center;
  text-shadow: 1.25px 0 0 #acb4b3, 0 -1.25px 0 #acb4b3, 0 1.25px 0 #acb4b3, -1.25px 0 0 #acb4b3;
}

.contacth3{
  color:blue;
  text-align: center;
  text-shadow: 1.25px 0 0 #acb4b3, 0 -1.25px 0 #acb4b3, 0 1.25px 0 #acb4b3, -1.25px 0 0 #acb4b3;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input.btn[type=submit]{
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* when hovering over submit button */
input[type=submit]:hover {
  background-color: lightgray;
}
 /* style for social media icons */
 .fa {
  padding: 20px;
  font-size: 30px;
  width:50px;
  text-align:center;
  text-decoration: none;
  
 }

 .fa:hover {
  opacity: 0.7;
 }

 .fa-facebook{
  background:#3B5998;
  color: white;
 }

 .fa-twitter{
  background:#55ACEE;
  color: white;
 }

 .fa-instagram {
  background: #fb3958;
  color:white
 }

/*DropDown Menu*/

 /*.dropdown {
  overflow: hidden; 
 }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  max-width: 150px;
  width: 14%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  bottom:0;
  height:auto;
}

@media screen and (min-width:200px) and (max-width:900px){
  .dropdown-content{
    font-size: 11.5px;
    width:16.8%;
    white-space: normal;
  }
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
 /* bottom:0;*/
}

/*.dropdown-content a:hover {
  background-color: #ddd;
  /*bottom:0;*/
}

.dropdown:hover .dropdown-content {
  display: block;
 /* bottom:0;*/
}

button:hover{
  cursor: pointer;
}

/*@media screen and (max-width: 1150px){
  .dropdown-content{
    margin-top: 50px;
  }
} */

:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 15%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}


#navbar {
  --navbar-height: 100px;
  position: absolute;
  height: var(--navbar-height);
  /*background: url("https://user-images.githubusercontent.com/113246857/202934576-05efdfc4-b2b0-43ea-af2c-fc3eacab7fec.png");*/
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  margin-left: 1px;
  margin-right: 1px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link{
  font-family: Lucida Bright,Georgia,serif;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover),
#lightdark:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
  background-image: url("https://apch.org/wp-content/uploads/2021/12/APCH-logo-grad@2x-1.png");
  background-size: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 0.5em;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}



.navbar-links {
  list-style: none;
  position: absolute;
  /*background-color: var(--navbar-bg-color);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}


@media screen and (max-width: 700px) {
  .navbar-links{
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #lightdark{
    margin-left: none;
    margin-right: none;
  }

}

@media screen and (max-width: 699px) {
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  } 
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"]{
    display: none;
    visibility: hidden;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/*footer*/
footer{
    position: relative;
    bottom: 1px;
    width: 100%;
    height: auto;   /* Height of the footer */
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
  }