html{
    scroll-behavior: smooth;
    line-height: 1.75rem;
    margin:0;
    overflow-x: hidden;
}

body{
    color:black;
    background-image: url("https://images.unsplash.com/photo-1597571092324-ae854e0648b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-mode {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1626032038952-35c9d5b037c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
  font-size: xx-large;
}

.navoptions{
  display:flex;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: #717171;
  border:1px solid black;
  width: 10%;
  margin: 0 auto;
  padding: 5px;
  white-space: nowrap;
}

#lightdark{
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  width:auto;
  max-width: 35%;
  max-height:35%;
}

.sections{
  background-color: rgba(68, 181, 246, 0.24);
}


.topnav{
  position: sticky;
  background-image: url("https://user-images.githubusercontent.com/113246857/202934576-05efdfc4-b2b0-43ea-af2c-fc3eacab7fec.png");
  background-repeat: repeat-x;
  background-size: cover;
  max-height: 130px;
  padding-bottom: 10%;
  margin-bottom: 10px;
  display:flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width:100%;
  height: auto;
  text-align: center;
}

#navlogo{
  display:flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 250px;
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
}

.topnav a{
  float:center;
  color:black;
  text-align:center;
  padding:14px 16px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(87, 86, 86); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: .55;
  }
  
#myBtn:hover {
    background-color: red; /* Add a dark-grey background on hover */
  }

  /* Slideshow container */
.slideshow-container {
  max-width: 1366px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 98.2%; /*Have to put in media queries when adjusting the width*/
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slidepic{
  width: 100%;
  max-height: 600px;
}

/* .dark-mode {
  background-color: purple;
  color: lightblue;
}
*/




/* Styling for contact page */



.contactContainer {
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: $white;
  border : 1px solid lighten($grey, 1%); 
  border-bottom : 3px solid $grey;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
/* picture on heading styling */
.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid $grey; 
  background : url(https://images.unsplash.com/photo-1533222481259-ce20eda1e20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2hpbGRyZW4lMjBwbGF5aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1400&q=60) center 40%;
  color: $white;
}

.body{
  padding: .5em 2.5em 1em;
}

.pull-right{
  float: left;
}

.contacth1{
  display: inline-block;
  font-weight: 100;
  border-bottom: 1px solid hsla(100%, 100%, 100% 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

.contacth3{

  margin: 1em 0 0.4em 0;
}

.btn{
  display: inline-block;
  padding: 0.743em 1.5em;
  margin: 1.53em 0 0;
  color: $white;
  border-width:0 0 0 0;
  border-bottom: 5px solid;
  text-transform:uppercase;

}

